name: Build

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies (npm install --no-optional)
        run: npm install --no-optional

      - name: Rebuild native bindings
        run: npm rebuild

      - name: Build project
        run: npm run build
